{{!-- Copyright 2016 Kii Consortium --}}
{{!--  --}}
{{!-- Licensed under the Apache License, Version 2.0 (the "License"); --}}
{{!-- you may not use this file except in compliance with the License. --}}
{{!-- You may obtain a copy of the License at --}}
{{!--  --}}
{{!--     http://www.apache.org/licenses/LICENSE-2.0 --}}
{{!--  --}}
{{!-- Unless required by applicable law or agreed to in writing, software --}}
{{!-- distributed under the License is distributed on an "AS IS" BASIS, --}}
{{!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. --}}
{{!-- See the License for the specific language governing permissions and --}}
{{!-- limitations under the License. --}}
<button id="back" class="btn btn-default" style="margin-bottom: 15px;">Back</button>

<table class="table table-hover">
<thead>
  {{#each fields}}
  <th>{{this}}</th>
  {{/each}}
  <th></th>
</thead>
<tbody id='objects'>

</tbody>
</table>

<div class='row'>
  <div class="col-xs-12">
    <button id="new" class="btn btn-primary">Add</button>
    <button id="to-top" class="btn btn-default" {{#if is_head}}disabled{{/if}}>先頭に戻る</button>
    <button id="to-next" class="btn btn-default" {{#unless has_next}}disabled{{/unless}}>次へ</button>
  </div>
</div>
